body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'VT323', monospace; /* Set the font-family to VT323 */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Add padding to the container */
    text-align: center; /* Center align text */
}

img {
    max-width: 100%; /* Ensure the image doesn't overflow its container */
}

h1 {
    margin: 20px 0;
    font-size: 24px; /* Decrease font size for smaller screens */
}

.spacer {
    height: 10px; /* Decrease spacer height for smaller screens */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'VT323', monospace; /* Set the font-family to VT323 */
}

button:hover {
    background-color: #0056b3;
}

.player-space {
    height: 20px; /* Decrease player space for smaller screens */
}

/* Add styles for the arrow container */
.go-to-page-container {
    position: fixed;
    bottom: 20px; /* Move the arrow container to the bottom */
    width: 100%; /* Take full width */
    display: flex;
    justify-content: center; /* Center align items */
}

/* Add styles for the arrow link */
.go-to-page-arrow {
    font-size: 36px; /* Decrease font size for smaller screens */
    color: #007bff;
    text-decoration: none;
}

.go-to-page-arrow:hover {
    color: #0056b3;
}

/* Add styles for the text */
.go-to-page-container p {
    margin-top: 5px; /* Adjust the spacing between the arrow and text */
    font-family: 'VT323', monospace; /* Use the VT323 font */
}
/* Default styles for all screen sizes */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'VT323', monospace; /* Set the font-family to VT323 */
}

.letter-container {
    max-width: 600px; /* Set maximum width for better readability */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    text-align: justify; /* Justify text for better readability */
}

.letter-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.letter-container p {
    margin-bottom: 10px;
}

.go-back-container {
    text-align: center;
    margin-top: 20px;
}

.go-back-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.go-back-button:hover {
    background-color: #0056b3;
}

/* Media query for screens smaller than 600px (typical mobile screens) */
@media (max-width: 600px) {
    .letter-container {
        padding: 10px; /* Reduce padding for smaller screens */
    }

    .go-back-container {
        margin-top: 10px; /* Reduce margin for smaller screens */
    }
}
